<div class="card card-custom signout-card">
    <div class="card-body text-center">
        <span class="d-block" style="margin-bottom: 10px;"> <i class="fas fa-exclamation-circle" style="font-size: 35px;"></i> </span>
        <h6>ARE YOU SURE YOU WANT TO LOG OUT?</h6>

        <div class="mt-4">
            <button type="button" class="btn btn-light mr-4" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-danger font-weight-bold" (click)="signout()">LOG OUT</button>    
        </div>
    </div>
</div>