.signout-card{
    background-color: var(--background-color);
}

.signout-card .btn{
    padding: 13px 29px;
    border-radius: 9px;
    font-size: 12px;
}

.signout-card h6{
    font-size: 15px;
    font-weight: 800;
    color: var(--text-color);
}

.signout-card i{
    color: #EE2D41;
}