<div style="width: 70%">
  <div class="other-profile-details">
    <div class="profile-detail-tile">
      <span class="d-block">RECEIVE ALERT ABOUT PROJECT STATUS</span>
      <span class="d-block">{{
        settings.receive_notification ? "YES" : "NO"
      }}</span>
    </div>

    <div class="profile-detail-tile">
      <span class="d-block">NOTIFICATION TYPE</span>
      <span class="d-block">{{ settings.notification_type }}</span>
    </div>

    <div class="profile-detail-tile">
      <span class="d-block">USER APP THEME</span>
      <span class="d-block">{{ settings.theme }}</span>
    </div>
  </div>
</div>
