#login_page{
    width: 100%;
    height: 100vh;
    max-width: 100vw;
}

.login-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 90px;
    background-color: #fff;
}

.social-login-option{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 18px 0px !important;
    transition: 0.5s all ease-in-out;
}

.social-login-option:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.welcome-title{
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 40px;
}

#login_page i{
    color: #1BC5BD;
    font-size: 46px;
    margin-right: 2px;
    transform: rotate(30deg);
}

.option-label{
    width: 100%;
    margin-top: 30px;
}

.option-label hr{
    width: 68%;
    background: #b6b6b6;
    margin: 10px auto
}

.option-label span{
    width: fit-content;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    color: #b4b4b4;
    position: relative;
    top: -32px;
    background: #fff;
    padding: 10px;
}

form{
    width: 70%;
}

form .form-control{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d9d2d2;
}

form .form-control::placeholder{
    font-weight: 600;
}

form a{
    color: #707070;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

form .btn-block{
    padding: 17px;
    border-radius: 10px;
    font-weight: 700;
}

.login-banner-section{
    height: 100vh;
    background: #eafaf9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-banner-section span{
    font-size: 16px;
    font-weight: 700;
    color: #1BC5BD;
}

@media only screen and (max-width: 768px) {
    .login-banner-section{
        display: none;
    }
} 