<app-members-navbar></app-members-navbar>

<div class="profile-dashboard" *ngIf="MemberProfile$ | async as profile">
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="card card-custom profile-card">
        <a (click)="back()" class="btn btn-icon back-icon">
          <i class="fas fa-angle-double-left text-danger"></i>
        </a>
        <img
          class="card-image image-circle"
          [src]="profile.image"
          *ngIf="profile.image"
          alt=""
        />
        <img
          class="card-image image-circle"
          src="assets/images/media/default/default.jpg"
          *ngIf="!profile.image"
          alt=""
        />
        <div class="card-body pt-0">
          <div class="mb-2">
            <h6 class="name">{{ profile.firstname }} {{ profile.lastname }}</h6>
            <span
              class="font-weight-bold d-block text-center status-label"
              *ngIf="profile.active"
              >ACTIVE
              <i class="fas fa-check-circle primary-color"></i>
            </span>
            <span
              class="font-weight-bold d-block text-center status-label"
              *ngIf="!profile.active"
              >INACTIVE
              <i class="fas fa-times text-danger"></i>
            </span>
          </div>
          <div>
            <span class="d-block text-muted font-weight-bold"
              >Member Type:
              <span class="primary-color">{{ profile.userType }}</span></span
            >
            <span class="d-block text-muted font-weight-bold"
              >Last Login:
              <span class="primary-color">{{
                formatLoginDate(profile.lastLoginAt)
              }}</span></span
            >
          </div>

          <hr class="profile-hr" />

          <div class="other-profile-details">
            <div class="profile-detail-tile">
              <span class="d-block">EMAIL</span>
              <span class="d-block">{{ profile.email }}</span>
            </div>

            <div class="profile-detail-tile">
              <span class="d-block">CONTACT</span>
              <span class="d-block" *ngIf="profile.phonenumber">{{
                profile.phonenumber
              }}</span>
              <span class="d-block" *ngIf="!profile.phonenumber"
                >Not Available</span
              >
            </div>

            <div
              class="profile-detail-tile"
              *ngIf="Settings$ | async as Settings"
            >
              <span
                class="d-block primary-color"
                *ngIf="Settings.notification_type === 'email'"
                >EMAIL ALERT NOTIFICATION
                <i class="fas fa-check-circle primary-color ml-3"></i>
              </span>
              <span
                class="d-block primary-color"
                *ngIf="Settings.notification_type === 'text'"
                >TEXT MESSAGE ALERT NOTIFICATION
                <i class="fas fa-check-circle primary-color ml-3"></i>
              </span>
            </div>
          </div>

          <div class="mt-3 text-center">
            <button
              *ngIf="profile.uuid === (AuthInfo$ | async).uuid"
              (click)="editprofile(profile)"
              type="button"
              class="btn btn-success btn-shadow update-detail-btn"
            >
              UPDATE DETAILS
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-12">
      <div class="row">
        <div class="col-12">
          <div class="card card-custom profile-card">
            <div class="card-header card-header-tabs-line">
              <div class="card-title">
                <h3 class="card-label">MY PROJECT LISTS</h3>
              </div>
              <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-toggle="tab"
                      href="#kt_tab_pane_1_2"
                      >PERSONAL TASK</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#kt_tab_pane_2_2"
                      >GROUP TASK</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#kt_tab_pane_3_2"
                    >
                      <span class="nav-icon"
                        ><i class="fas fa-chart-line"></i
                      ></span>
                      <span class="nav-text">OVERALL STATS</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
