<div class="welcome-container">
  <span class="d-block">
    <i class="far fa-comment-dots" style="color: #00bfa6; font-size: 46px"></i>
  </span>
  <h6 class="welcome-title">WELCOME TO ARIA CHAT SESSION</h6>
  <div class="text-center">
    <img
      src="assets/images/media/default/undraw_online_discussion_-5-wgl.svg"
      width="50%"
      alt=""
    />
  </div>

  <div class="mt-4 text-center">
    <button
      type="button"
      class="btn btn-success welcome-btn mr-4"
      (click)="addGroupChat()"
    >
      <i class="fas fa-plus" style="font-size: 12px"></i>
      <span>CREATE GROUP CHAT</span>
    </button>
    <!-- <button
      type="button"
      class="btn btn-light welcome-btn mt-2"
      (click)="addChat()"
    >
      <i class="fas fa-plus" style="font-size: 12px"></i>
      <span>ADD CHAT</span>
    </button> -->
  </div>
</div>
