<div id="chat-intro">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-7">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col">
            <div class="card card-custom option-card">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/images/media/default/undraw_group_selfie_re_h8gb.svg"
                    width="50%"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <span class="d-block text-center option-text"
                  >Connect with your Project Team; Communicate and Share
                  resources about your Project(s)</span
                >

                <div class="text-center">
                  <button
                    [routerLink]="['/chat/group/session']"
                    type="button"
                    class="btn btn-outline-success action-btn"
                  >
                    CONTINUE
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-custom option-card">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/images/media/default/undraw_in_real_life_v8fk.svg"
                    width="31%"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <span class="d-block text-center option-text"
                  >Engage in One-on-One interaction with other members and share
                  ideas</span
                >

                <div class="text-center">
                  <button
                    [routerLink]="['/chat/session']"
                    type="button"
                    class="btn btn-outline-success action-btn"
                  >
                    CONTINUE
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
