<h6 class="list-title">
  TOTAL PROJECT AVAILABLE: {{ GroupProjectsNum$ | async }}
</h6>

<div class="row" style="margin-top: 15px">
  <div class="col-lg-7" style="height: 400px; overflow-y: auto">
    <ng-container *ngIf="GroupProjects$ | async as GroupProjects">
      <div
        class="card card-custom project-card"
        *ngFor="let task of GroupProjects; let i = index"
      >
        <div class="card-body d-flex align-items-center">
          <div class="status-section text-center">
            <span class="d-block" *ngIf="task.status === 'Pending'">
              <i class="fas fa-stop-circle text-primary"></i>
            </span>
            <span class="d-block" *ngIf="task.status === 'In_progress'">
              <i class="fas fa-clock text-warning"></i>
            </span>
            <span class="d-block" *ngIf="task.status === 'Completed'">
              <i class="fas fa-check text-success"></i>
            </span>
            <span class="d-block" *ngIf="task.status === 'Cancelled'">
              <i class="fas fa-ban text-danger"></i>
            </span>
            <span class="d-block text-muted">{{ task.status }}</span>
          </div>
          <div class="description-section">
            <span class="d-block">{{ task.title }}</span>
            <div class="mt-2">
              <span class="text-muted mr-2" style="font-size: 10px">
                <i class="fas fa-link mr-1" style="font-size: 11px"></i>
                {{ task.attachments.length }} files</span
              >
              <span class="text-muted mr-4" style="font-size: 10px">
                <i class="far fa-clock mr-1" style="font-size: 11px"></i>
                {{ formateDate(task.startDate) }}</span
              >
              <span class="text-muted" style="font-size: 12px">
                <i class="fas fa-eye mr-1" style="font-size: 11px"></i>
                view</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-lg-5 text-center">
    <ngx-gauge
      [min]="min"
      [max]="max"
      [thick]="thick"
      [type]="gaugeType"
      [value]="gaugeValue"
      [label]="gaugeLabel"
      [append]="gaugeAppendText"
    >
    </ngx-gauge>
  </div>
</div>
