#success-page {
  width: 100%;
  height: 100vh;
}

#success-page img {
  width: 40%;
}

.action-btns {
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}

.primary-color {
  color: #1bc5bd !important;
}
