<div id="success-page">
  <div class="container-fluid">
    <div class="row w-100" style="margin-top: 70px">
      <div class="col-12 text-center">
        <img src="assets/demo-media/Success.png" alt="" />
      </div>

      <div class="col-12 text-center mt-3">
        <span class="d-block">
          <i
            class="fas fa-check-circle primary-color"
            style="font-size: 35px"
          ></i>
        </span>
        <span
          class="d-block"
          style="font-size: 23px; font-weight: 800; color: grey"
          >EMAIL VERIFICATION SUCCESS</span
        >
      </div>

      <div class="col-12 text-center mt-3">
        <button type="button" class="btn btn-success action-btns mr-4">
          COMPLETE YOUR ACCOUNT SETUP
        </button>
        <button
          type="button"
          class="btn btn-light action-btns font-weight-bold"
        >
          GO TO DASHBOARD
        </button>
      </div>
    </div>
  </div>
</div>
