<div class="card card-custom new-task-card">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Create Project</h3>
    </div>
    <div class="card-toolbar">
      <div class="new-task-header text-center">
        <span> <i class="fab fa-buffer"></i> </span>
        <span>ARIA <span class="primary-color">PLANNER</span></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <mat-dialog-content>
      <form [formGroup]="Form" novalidate>
        <div class="form-group">
          <label for="">Task Title</label>
          <input
            [class.is-invalid]="
              Form.get('title').touched && Form.get('title').invalid
            "
            formControlName="title"
            type="text"
            class="form-control"
            placeholder="Enter title"
          />
          <div class="invalid-feedback">
            <span *ngIf="Form.get('title').hasError('required')"
              >Project Title is required</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input
            [class.is-invalid]="
              Form.get('description').touched && Form.get('description').invalid
            "
            formControlName="description"
            type="text"
            class="form-control"
            placeholder="Enter description"
          />
          <div class="invalid-feedback">
            <span *ngIf="Form.get('description').hasError('required')"
              >Project Description is required</span
            >
          </div>
        </div>

        <div class="row" style="margin-top: 23px">
          <div class="col">
            <div class="form-group">
              <label for="">Start Date</label>
              <input
                (change)="validateStartDate($event)"
                [class.is-invalid]="
                  Form.get('startDate').touched && Form.get('startDate').invalid
                "
                formControlName="startDate"
                class="form-control"
                type="datetime-local"
                value="2011-08-19T13:45:00"
                id="example-datetime-local-input"
              />
              <div class="invalid-feedback">
                <span *ngIf="Form.get('startDate').hasError('required')"
                  >Start Date is required</span
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">End Date</label>
              <input
                (change)="validateEndDate($event)"
                [class.is-invalid]="
                  Form.get('endDate').touched && Form.get('endDate').invalid
                "
                formControlName="endDate"
                class="form-control"
                type="datetime-local"
                value="2011-08-19T13:45:00"
                id="example-datetime-local-input"
              />
              <div class="invalid-feedback">
                <span *ngIf="Form.get('endDate').hasError('required')"
                  >End Date is required</span
                >
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 16px">
          <label for="">Members</label>

          <div class="mt-2 d-flex align-items-center">
            <a
              (click)="addMember()"
              href="javascript:;"
              class="btn btn-icon btn-success"
              style="border-radius: 10px"
            >
              <i class="fas fa-plus" style="font-size: 12px"></i>
            </a>

            <div
              class="ml-4 d-flex align-items-center"
              *ngIf="SelectedMembers$ | async as SelectedMembers"
            >
              <ng-container *ngFor="let member of SelectedMembers | slice: 0:2">
                <div class="card card-custom member-card">
                  <div class="card-body">
                    <div class="symbol symbol-40 symbol-circle mr-3">
                      <img
                        alt="Pic"
                        [src]="member.image"
                        *ngIf="member.image"
                      />
                      <img
                        alt="Pic"
                        src="assets/images/media/default/default.jpg"
                        *ngIf="!member.image"
                      />
                    </div>
                    <span class="d-block mr-3">{{ member.firstname }}</span>
                    <a href="javascript:;" (click)="removeMember(member)">
                      <i
                        class="fas fa-times text-muted"
                        style="font-size: 14px"
                      ></i>
                    </a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="SelectedMembers.length > 2">
                <div class="card card-custom member-card">
                  <div class="card-body">
                    <span class="d-block mr-3"
                      >{{ SelectedMembers.length - 2 }}+ MEMBERS</span
                    >
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div style="margin-top: 16px">
          <label for="" style="margin-right: 21px">Group Leader</label>

          <div class="btn-group">
            <button
              type="button"
              class="btn btn-outline-secondary"
              style="
                padding: 10px 80px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              "
            >
              {{ leader ? leader.name : "Select Group Leader" }}
            </button>
            <button
              style="
                padding: 0px 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              "
              type="button"
              class="btn btn-outline-secondary dropdown-toggle-split"
              id="dropdownMenuReference"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-reference="parent"
            >
              <span class="sr-only">Select Group Leader</span>
              <i class="fas fa-angle-double-down" style="font-size: 12px"></i>
            </button>
            <div
              class="dropdown-menu leader-dropdown"
              aria-labelledby="dropdownMenuReference"
            >
              <a
                class="dropdown-item"
                href="javascript:;"
                (click)="selectLeader(member)"
                *ngFor="let member of SelectedMembers$ | async"
                >{{ member.firstname }} {{ member.lastname }}</a
              >
            </div>
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="exampleFormControlFile1">Attachment</label>
          <input
            (change)="uploadAttachment($event)"
            multiple
            type="file"
            class="form-control-file attachment"
            id="exampleFormControlFile1"
            accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          />
        </div>
      </form>
    </mat-dialog-content>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <a
      href="javascript:;"
      class="btn btn-light font-weight-bold action-btn mr-4"
      (click)="close()"
      >Close</a
    >
    <a
      href="javascript:;"
      class="btn btn-success action-btn font-weight-bold"
      (click)="newtask()"
      >Create Task</a
    >
  </div>
</div>
